<?xml version="1.0"?>
<launch>

  <!-- Launch catkinpkg_framework node -->
  <node pkg="dynamixel_controller" name="dynamixel_controller_node"
        type="dynamixel_controller_node" clear_params="true" output="screen" >

        <!--  ReEmapping to use with whole setup-->

        <!-- <remap from="/tilt_controller_1/command" to="/arm/joint1_position_controller/command" /> -->
        <!-- <remap from="/tilt_controller_2/command" to="/arm/joint2_position_controller/command" /> -->
        <!-- <remap from="/tilt_controller_3/command" to="/arm/joint3_position_controller/command" /> -->

        <!-- <remap from="/tilt_controller_1/state" to="/arm/joint1_position_controller/state" /> -->

        <!-- HEBI interface -->
        <!-- <remap from="/tilt_controller_2/state" to="/arm/joint2_position_controller/state" /> -->
        <!-- <remap from="/tilt_controller_3/state" to="/arm/joint3_position_controller/state" /> -->



  </node>

  <!-- Launch rviz -->
  <!--<node name="rviz_node" pkg="rviz" type="rviz" /-->

  <!-- Launch rqt -->
  <node pkg="rqt_gui" type="rqt_gui" name="rqt_gui" args="--perspective-file $(find dynamixel_controller)/rqt/dyn_reconfig.perspective" />

  <!-- Include rosparam yaml files -->
  <rosparam command="load" file="$(find dynamixel_controller)/parameter/parameter_bag.yaml" />

  <!-- Include other files -->
  <!--param name="object_files_path" type="str" value="$(find dynamixel_controller)/object_files.txt" /-->




</launch>
